body,html{
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;
    background-image: url(https://media.giphy.com/media/sBNNdrqMMicmc/giphy.gif);
    --blau: #0000ff ;
    --sky-blue:#00ffff ;
    --yellow:#ffff00;
    --green:#67da67;
    --crimson:#db143c;
    --orange:#ffa500;
}


.box{
    border-style: outset ;
    

    
    
}
section{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 60%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%; 
    display: grid;
    grid-template-columns:repeat(7, 10%) ;
    grid-template-rows:repeat(12, 8.3%) 

}
/* Blau */
.box1, .box8, .box10, .box11, .box15,
 .box17, .box22,.box24, .box37, .box43, .box44, .box49
 , .box50, .box56, .box63, .box70, .box73, .box74
 , .box81, .box82{
    background-color: var(--blau);
    border-radius: 0px;
    background: linear-gradient(145deg, #0000e6, #0000ff);
    box-shadow:  1px 1px 0px #0000fc, 
                 -1px -1px 0px #0000ff;

    
}

/* Sky-Blue */
.box2, .box3, .box9, .box16, .box41, .box46, .box47, .box48
, .box59, .box60, .box64, .box65, .box66{
    background-color: var(--sky-blue);
    border-radius: 0px;
background: linear-gradient(145deg, #00e6e6, #00ffff);
box-shadow:  1px 1px 0px #00fcfc, 
             -1px -1px 0px #00ffff;
}

/* Yellow */
.box4,.box5,.box6,.box7, .box25,
.box26, .box32, .box33, .box45, .box51, .box52, .box53, .box67, .box68, .box69
, .box75{
    background-color: var(--yellow);
    border-radius: 0px;
background: linear-gradient(145deg, #e6e600, #ffff00);
box-shadow:  1px 1px 0px #fcfc00, 
             -1px -1px 0px #ffff00;

}

/* Crimson */
.box12, .box13, .box18, .box19, .box31,
.box38, .box39, .box40, .box54, .box55
, .box61, .box62{
    background-color: var(--crimson);
    border-radius: 0px;
background: linear-gradient(145deg, #c51236, #ea1540);
box-shadow:  1px 1px 0px #d9143b, 
             -1px -1px 0px #dd143d;
}

/* Green */
.box14, .box20, .box21, .box23, .box28,
.box29, .box30, .box36, .box57, .box58
, .box64, .box71{
    background-color: var(--green);
    border-radius: 0px;
background: linear-gradient(145deg, #5dc45d, #6ee96e);
box-shadow:  1px 1px 0px #66d866, 
             -1px -1px 0px #68dc68;
}
/* Orange */
.box27, .box34, .box35, .box42, .box72
, .box76, .box77, .box78, .box79, .box80, .box83, .box84{
    background-color: var(--orange);
    border-radius: 0px;
background: linear-gradient(145deg, #e69500, #ffb100);
box-shadow:  1px 1px 0px #fca300, 
             -1px -1px 0px #ffa700;
}